@import url(./style.css);
body {
  padding-top: 130px;
}

.dashboard_nav_bar {
  width: 100%;
  position: fixed;
  padding: 28px 0;
  border-bottom: 1px solid rgb(21, 26, 52);
  top: 0;
  background: #060a23;
  z-index: 10;
}

.d_logo {
  display: flex;
  align-items: center;
  gap: 17px;
}
.d_logo_img {
  width: 46px;
  height: 46px;
}
.d_logo p {
  margin-top: 4px;
  color: rgb(198, 198, 215);
  font-family: Inter;
  font-size: 12px;
  font-weight: 400;
  line-height: 143%;
  letter-spacing: 0%;
  text-align: left;
}

.dashboard_nav_wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.d_nav_item {
  padding: 11px 15px;
  border-radius: 9px;
  border: 0.5px solid transparent;
  transition: all 0.4s ease;
  cursor: pointer;
}
.d_nav_item_title {
  display: flex;
  align-items: center;
  gap: 8px;
}

.d_nav_item_title p {
  color: rgb(255, 255, 255);
  font-family: Inter;
  font-size: 16px;
  font-weight: 500;
  line-height: 117%;
  letter-spacing: 0%;
  text-align: left;
}

.d_nav_item:hover,
.d_nav_item_active {
  transition: all 0.4s ease;
  box-sizing: border-box;
  border: 0.5px solid rgb(107, 52, 250) !important;
  border-radius: 9px;

  box-shadow: inset 0px 0px 5.5px 0px rgb(138, 81, 230);
  background: rgba(107, 52, 250, 0.1);
}
.d_nav_item svg,
.d_nav_item_active {
  transition: all 0.4s ease;
}
.d_nav_item:hover svg * {
  transition: all 0.4s ease;
  stroke: rgb(105, 50, 252) !important;
}

.d_nav_item_active svg * {
  stroke: rgb(105, 50, 252) !important;
}

.d_nav_list {
  display: flex;
  align-items: center;
  gap: 2px;
}
.d_nav_item_title img {
  margin-left: 3px;
}

.d_nav_not {
  box-sizing: border-box;
  border: 1px solid rgba(255, 255, 255, 0.06);
  border-radius: 100px;
  width: 42px;
  height: 42px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.d_nav_not_active {
  background: rgb(229, 72, 72);
  width: 4px;
  height: 4px;
  border-radius: 50%;
  position: absolute;
  top: 10px;
  right: 12px;
}

.d_nav_right {
  display: flex;
  align-items: center;
  gap: 9px;
}

.d_nav_item_settings {
  box-sizing: border-box;
  border: 1px solid rgba(255, 255, 255, 0.06);
  border-radius: 100px !important;

  box-shadow: inset 0px 0px 9.4px 0px rgba(255, 255, 255, 0.11);
  background: rgba(255, 255, 255, 0.05);
}
.d_nav_user_avatar {
  width: 42px;
  height: 42px;
  border-radius: 50%;
  background: url(../assets/images/avatar-bg.svg);
  display: flex;
  align-items: center;
  justify-content: center;
}

.d_nav_user_avatar p {
  color: rgb(229, 229, 232);
  font-family: Inter;
  font-size: 16px;
  font-weight: 500;
  line-height: 117%;
  letter-spacing: 0%;
}

.d_nav_user {
  display: flex;
  align-items: center;
  gap: 12px;
}
.d_nav_user_inf p {
  color: rgb(198, 198, 215);
  font-family: Inter;
  font-size: 12px;
  font-weight: 400;
  line-height: 143%;
  letter-spacing: 0%;
  text-align: left;
  margin-bottom: 2px;
}

.d_nav_user_inf span {
  color: rgb(229, 229, 232);
  font-family: Inter;
  font-size: 16px;
  font-weight: 500;
  line-height: 117%;
  letter-spacing: 0%;
  text-align: left;
}
.dashboard_nav_wrapper,
.d_nav_list,
.d_nav_right {
  position: relative;
}

.dashboard_nav_bar_gr {
  position: absolute;
  right: -280px;
  top: 0;
  transform: translateY(-78%);
}

.dashboard_title h1 {
  color: rgb(245, 242, 252);
  font-family: Inter;
  font-size: 24px;
  font-weight: 700;
  line-height: 143%;
  letter-spacing: 0%;
  text-align: left;
  margin-bottom: 32px;
}

.dash_block_title {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 6px;
}
.dash_block_title h4 {
  color: rgb(198, 198, 215);
  font-family: Inter;
  font-size: 18px;
  font-weight: 400;
  line-height: 143%;
  letter-spacing: 0%;
  text-align: left;
}
.balancecurr {
  display: flex;
  align-items: center;
  gap: 5px;
  box-sizing: border-box;
  border: 2px solid rgb(21, 26, 52);
  border-radius: 42px;
  padding: 2px;
}
.balancecurr p {
  color: rgb(63, 69, 103);
  font-family: Inter;
  font-size: 10px;
  font-weight: 700;
  line-height: 117%;
  letter-spacing: 0%;
  text-align: left;
  text-transform: uppercase;
}

.total_balance_num {
  display: flex;
  align-items: center;
  gap: 20px;
}
.total_balance_num p {
  color: rgb(245, 242, 252);
  font-family: Inter;
  font-size: 52px;
  font-weight: 500;
  line-height: 143%;
  letter-spacing: 0%;
  text-align: left;
}

.total_balance {
  display: flex;
  align-items: center;
}
.total_balance_actions {
  display: flex;
  align-items: center;
  gap: 15px;
}
.total_balance_actions button:nth-child(1) {
  background: rgba(255, 255, 255, 0.05);
  box-shadow: none;
  border: none;
}

.total_balance {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 25px;
}
.main_dashboard_left {
  width: 56%;
}
.main_dashboard_right {
  width: 40%;
}
.main_dashboard {
  display: flex;
  align-items: start;
  justify-content: space-between;
}
.recent_transactions {
  box-sizing: border-box;
  border: 1px solid rgb(25, 30, 56);
  border-radius: 28px;
  padding: 30px;
  padding-bottom: 18px;
  width: 100%;
}

.recent_transactions_top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 22px;
}

.recent_transactions_top h3 {
  color: rgb(198, 198, 215);
  font-family: Inter;
  font-size: 18px;
  font-weight: 400;
  line-height: 143%;
  letter-spacing: 0%;
  text-align: left;
}

.view_all_btn {
  background: transparent;
  color: rgb(255, 255, 255);
  font-family: Inter;
  font-size: 12px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: center;
  box-sizing: border-box;
  border: 1px solid rgb(21, 26, 52);
  border-radius: 100px;
  width: 71px;
  height: 32px;
}

.transactions_list_item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 12px;
}
.transactions_list_item_icon {
  box-sizing: border-box;
  border: 1px solid rgb(25, 30, 56);
  border-radius: 17px;
  width: 58px;
  height: 58px;
  box-shadow: inset 0px 0px 41.7px 0px rgba(25, 30, 56, 0.4);
  background: rgb(6, 10, 35);
  display: flex;
  align-items: center;
  justify-content: center;
}

.transactions_list_item_left {
  display: flex;
  align-items: center;
  gap: 23px;
}

.transactions_list_item_desc_title {
  display: flex;
  align-items: center;
  gap: 9px;
  margin-bottom: 2px;
}
.transactions_list_item_desc_title h5 {
  color: rgb(245, 242, 252);
  font-family: Inter;
  font-size: 18px;
  font-weight: 600;
  line-height: 143%;
  letter-spacing: 0%;
  text-align: left;
}

.transactions_list_item_status {
  display: flex;
  align-items: center;
  gap: 6px;
  border-radius: 29px;
  padding: 8px;
}

.transactions_list_item_status p {
  font-family: Inter;
  font-size: 12px;
  font-weight: 600;
  line-height: 117%;
  letter-spacing: 0%;
  text-align: left;
  text-transform: uppercase;
}
.transactions_list_item_status_succes {
  background: rgba(53, 176, 22, 0.1);
}
.transactions_list_item_status_succes p {
  color: rgb(53, 176, 22);
}
.transactions_list_item_status_succes svg * {
  fill: rgb(53, 176, 22);
}

.transactions_list_item_status_progress {
  background: rgba(22, 139, 176, 0.1);
}
.transactions_list_item_status_progress p {
  color: rgb(22, 139, 176);
}
.transactions_list_item_status_progress svg * {
  fill: rgb(22, 139, 176);
}

.transactions_list_item_status_failed {
  background: rgba(176, 44, 44, 0.1);
}
.transactions_list_item_status_failed p {
  color: rgb(176, 44, 44);
}
.transactions_list_item_status_failed svg * {
  fill: rgb(176, 44, 44);
}

.transactions_list_item_desc_data p {
  color: rgb(198, 198, 215);
  font-family: Inter;
  font-size: 13px;
  font-weight: 400;
  line-height: 143%;
  letter-spacing: 0%;
  text-align: left;
}

.transactions_list_item_amount p {
  font-family: Inter;
  font-size: 18px;
  font-weight: 500;
  line-height: 143%;
  letter-spacing: 0%;
  text-align: right;
  color: rgb(245, 242, 252);
}

.succes span {
  color: rgb(53, 176, 22);
}

.failed span {
  color: rgb(176, 44, 44);
}

.share_link {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 17px;
  box-sizing: border-box;
  border: 1px solid rgb(25, 30, 56);
  border-radius: 28px;
  margin-top: 21px;
  box-shadow: inset 0px 0px 41.7px 0px rgba(25, 30, 56, 0.4);
  background: rgb(6, 10, 35);
  margin-bottom: 39px;
}

.share_link img {
  cursor: pointer;
}
.share_link p {
  color: rgb(198, 198, 215);
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 143%;
  letter-spacing: 0%;
  text-align: left;
}

.rewards_block {
  box-sizing: border-box;
  border: 1px solid rgb(25, 30, 56);
  border-radius: 28px;
  padding: 30px;
  box-shadow: inset 0px 0px 41.7px 0px rgba(25, 30, 56, 0.4);
  background: rgb(6, 10, 35);
}

.rewards_block_title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.rewards_block_title h4 {
  margin-bottom: 3px;
  color: rgb(198, 198, 215);
  font-family: Inter;
  font-size: 18px;
  font-weight: 400;
  line-height: 143%;
  letter-spacing: 0%;
  text-align: left;
}

.rewards_block_title p {
  color: rgb(198, 198, 215);
  font-family: Inter;
  font-size: 12px;
  font-weight: 400;
  line-height: 143%;
  letter-spacing: 0%;
  text-align: left;
}

.rewards_block_title h5 {
  color: rgb(229, 229, 232);
  font-family: Inter;
  font-size: 18px;
  font-weight: 500;
  line-height: 117%;
  letter-spacing: 0%;
  text-align: right;
  text-transform: uppercase;
  margin-bottom: 5px;
  background: linear-gradient(
    90deg,
    rgb(216, 181, 255),
    rgb(139, 168, 255),
    rgb(181, 66, 185),
    rgb(229, 229, 232)
  );
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.rewards_block_title span {
  color: rgb(63, 69, 103);
  font-family: Inter;
  font-size: 10px;
  font-weight: 500;
  line-height: 117%;
  letter-spacing: 0%;
  text-align: right;
  text-transform: uppercase;
}

.rewards_block_title div:last-child {
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: flex-end;
}
.daily_rewards img {
  width: 100%;
  cursor: pointer;
}
.daily_rewards {
  margin-bottom: 30px;
  margin-top: 20px;
}

.your_badges_title {
  display: flex;
  align-items: center;
  gap: 5px;
}
.your_badges_title h4 {
  font-family: Inter;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  line-height: 143%;
  letter-spacing: 0%;
  text-align: left;
}

.your_badges_title p {
  font-family: Inter;
  font-size: 12px;
  font-weight: 600;
  line-height: 143%;
  letter-spacing: 0%;
  text-align: left;
  color: rgb(63, 69, 103);
}
.your_badges_title span {
  font-size: 16px;
  font-weight: 600;
  line-height: 143%;
  letter-spacing: 0%;
  text-align: left;
  color: rgb(105, 50, 252);
}
.your_badges {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}
.your_badges_list div {
  display: flex;
  align-items: center;
  gap: 18px;
}
.your_badges_list p {
  color: rgb(198, 198, 215);
  font-family: Inter;
  font-size: 12px;
  font-weight: 400;
  line-height: 143%;
  letter-spacing: 0%;
  text-align: left;
}

.your_badges_list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.dashboard_actions {
  margin-top: 45px;
  display: flex;
  align-items: center;
  gap: 50px;
}

.dashboard_action_item {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: end;
  box-sizing: border-box;
  border: 1px solid rgb(25, 30, 56);
  border-radius: 28px;
  min-height: 375px;
  padding: 30px;
  box-shadow: inset 0px 0px 41.7px 0px rgba(25, 30, 56, 0.4);
  background: rgb(6, 10, 35);
  position: relative;
  overflow: hidden;
  width: 33%;
}
.dashboard_actions .dashboard_action_item:nth-child(3) {
  width: 50%;
}

.dashboard_action_item img {
  position: absolute;
  top: 0;
  left: 0;
}
.dashboard_action_item_text {
  position: relative;
}
.dashboard_action_item_text h4 {
  color: rgb(245, 242, 252);
  font-family: Inter;
  font-size: 18px;
  font-weight: 500;
  line-height: 143%;
  letter-spacing: 0%;
  text-align: left;
}
.dashboard_action_item_text p {
  margin-top: 7px;
  margin-bottom: 37px;
  color: rgb(198, 198, 215);
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 143%;
  letter-spacing: 0%;
  text-align: left;
}
.d_action_btn {
  box-sizing: border-box;
  border: 3px solid #7b49e1;
  border-radius: 100px;
  padding: 0 24px;
  color: #7b49e1;
  font-family: Inter;
  font-size: 16px;
  height: 42px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: center;
  background: transparent;
}

.dashboard_actions .dashboard_action_item:nth-child(1) .d_action_btn {
  border: 3px solid #228afb;
  color: #228afb;
}

.d_footer {
  width: 100%;
  border-top: 1px solid rgb(21, 26, 52);
  margin-top: 150px;
  padding: 30px 0;
}
.reserved_rights p {
  color: rgb(80, 88, 128);
  font-family: Inter;
  font-size: 14px;
  font-weight: 400;
  line-height: 143%;
  letter-spacing: 0%;
  text-align: left;
}

.dashboard_tab_titles {
  display: flex;
  align-items: center;
  gap: 5px;
  box-sizing: border-box;
  border: 1px solid rgb(25, 30, 56);
  border-radius: 14px;
  padding: 5px;
}

.dashboard_tab_title {
  padding: 9px 20px;
  border-radius: 9px;
  border: 1px solid transparent;
  cursor: pointer;
  transition: all 0.4s ease;
}

.dashboard_tab_title p {
  color: rgb(63, 69, 103);
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 143%;
  letter-spacing: 0%;
  text-align: center;
}
.dashboard_tab_title:hover {
  border: 1px solid rgb(25, 30, 56);
}

.active_dashboard_tab_title {
  border: 1px solid rgb(25, 30, 56);
  padding: 9px 33px;
}
.active_dashboard_tab_title p {
  color: rgb(245, 242, 252);
}
.dashboard_tab_content {
  display: none;
}

.active_dashboard_tab_content {
  display: block !important;
}

.dashboard_line {
  background: rgb(21, 26, 52);
  width: 100%;
  height: 1px;
  margin: 35px 0;
}
.dashboard_page_blocks_title {
  margin-bottom: 34px;
}
.dashboard_page_blocks_title h4 {
  color: rgb(245, 242, 252);
  font-family: Inter;
  font-size: 18px;
  font-weight: 500;
  line-height: 143%;
  letter-spacing: 0%;
  text-align: left;
  margin-bottom: 7px;
}
.dashboard_page_blocks_title p {
  color: rgb(198, 198, 215);
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 143%;
  letter-spacing: 0%;
  text-align: left;
}
.dashboard_input {
  position: relative;
}

.dashboard_input p {
  color: rgb(229, 229, 232);
  font-family: Inter;
  font-size: 14px;
  font-weight: 600;
  line-height: 117%;
  letter-spacing: 0%;
  text-align: left;
  margin-bottom: 11px;
}

.dashboard_input input,
.dashboard_input textarea {
  box-sizing: border-box;
  border: 1px solid rgb(36, 41, 68);
  border-radius: 11px;
  height: 52px;
  text-indent: 18px;
  color: #fff;
  background: transparent;
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 117%;
  letter-spacing: 0%;
  text-align: left;
  width: 100%;
}

.dashboard_input input::placeholder,
.dashboard_input textarea::placeholder {
  color: rgb(80, 88, 128);
}

.dashboard_input_edit {
  position: absolute;
  display: flex;
  align-items: center;
  gap: 5px;
  cursor: pointer;
  bottom: 14px;
  right: 18px;
}
.dashboard_input_edit span {
  color: rgb(255, 255, 255);
  font-family: Inter;
  font-size: 12px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: center;
}

.dashboard_inputs_list {
  display: flex;
  align-items: center;

  width: 100%;
  gap: 48px;
}
.dashboard_inputs_list .dashboard_input {
  width: 31%;
}
.dashboard_tab_content {
  width: 100%;
}

.socials_dashboard_inputs_list input {
  text-indent: 53px;
}
.dash_social {
  position: absolute;
  left: 12px;
  bottom: 11px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.mb_24px {
  margin-bottom: 24px;
}
.save_changes {
  margin-top: 40px;
}

.dashboard_page_blocks_title_wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.switch {
  box-sizing: border-box;
  border: 1px solid rgb(25, 30, 56);
  border-radius: 14px;
  padding: 18px 15px;
}

.switch p {
  color: rgb(245, 242, 252);
  font-family: Inter;
  font-size: 14px;
  font-weight: 500;
  line-height: 143%;
  letter-spacing: 0%;
  text-align: left;
}
.dashboard_page_blocks_title_wrapper .dashboard_page_blocks_title {
  margin-bottom: 0;
}
.dashboard_page_blocks_title_wrapper {
  margin-bottom: 30px;
}
.two_steps {
  display: flex;
  align-items: center;
  gap: 48px;
}
.two_step {
  box-sizing: border-box;
  border: 1px solid rgb(36, 41, 68);
  border-radius: 28px;
  padding: 30px;
  width: 33%;

  height: 260px;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
}

.two_step_title {
  font-weight: 600;
  border-radius: 7px;
  margin-right: 15px;
}

.two_step_title p {
  color: rgb(245, 242, 252);
  font-family: Inter;
  font-size: 16px;
  font-weight: 500;
  line-height: 143%;
  letter-spacing: 0%;
  text-align: left;
  margin-bottom: 19px;
}
.two_step_text p {
  color: rgb(198, 198, 215);
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 143%;
  letter-spacing: 0%;
  text-align: left;
}
.two_step_apps {
  display: flex;
  gap: 10px;
}
.two_step .dashboard_input {
  width: 100%;
}
.view_qr {
  display: flex;
  align-items: center;
  position: absolute;
  right: 0;
  top: 0;
  gap: 5px;
  cursor: pointer;
}
.view_qr p {
  margin: 0;
  color: rgb(105, 50, 252);
}

.session_item {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.session_item_browser_icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 63px;
  height: 63px;
  border: 1px solid rgb(36, 41, 68);
  border-radius: 11px;
}

.session_item_browser {
  display: flex;
  align-items: center;
  gap: 20px;
}

.session_item_browser_desc h4,
.session_item_ip p {
  color: rgb(245, 242, 252);
  font-family: Inter;
  font-size: 16px;
  font-weight: 500;
  line-height: 143%;
  letter-spacing: 0%;
  text-align: left;
  margin-bottom: 7px;
}

.session_item span {
  color: rgb(82, 88, 120);
  font-family: Inter;
  font-size: 14px;
  font-weight: 500;
  line-height: 143%;
  letter-spacing: 0%;
  text-align: left;
}

.session_item {
  width: 100%;
  margin-bottom: 22px;
}
.session_item_left {
  display: flex;
  align-items: center;
}
.session_item_browser {
  width: 488px;
}
.revoke_btn {
  box-sizing: border-box;
  border: 1px solid rgb(36, 41, 68);
  border-radius: 11px;
  padding: 19px 53px;
  box-shadow: inset 0px 0px 41.7px 0px rgba(25, 30, 56, 0.4);
  background: linear-gradient(
    180deg,
    rgb(6, 10, 35) 41.975%,
    rgb(6, 10, 35) 100%
  );
  color: rgb(245, 242, 252);
  font-family: Inter;
  font-size: 18px;
  font-weight: 600;
  line-height: 143%;
  letter-spacing: 0%;
  text-align: center;
}

.d_page_wrapper {
  display: flex;
  flex-direction: column;
  align-items: start;
}
.selection_items_list {
  display: flex;
  align-items: center;
  gap: 48px;
  margin-bottom: 48px;
}
.selection_item {
  padding: 22px 5px 5px;
  border: 1px solid rgb(36, 41, 68);
  border-radius: 11px;
}

.selection_items_list_quest {
  display: flex;
  align-items: center;
  padding-left: 22px;
  gap: 6px;
  margin-bottom: 18px;
}

.selection_items_list_quest h4 {
  color: rgb(245, 242, 252);
  font-family: Inter;
  font-size: 16px;
  font-weight: 600;
  line-height: 143%;
  letter-spacing: 0%;
  text-align: left;
}

.selection_items_list_quest_num {
  padding: 0 6px;
  height: 20px;
  background: linear-gradient(
      135deg,
      rgb(216, 181, 255),
      rgb(139, 168, 255) 19.5%,
      rgb(181, 66, 185) 54.5%,
      rgb(229, 229, 232) 100%
    ),
    rgb(217, 217, 217);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.selection_items_list_quest_num p {
  color: rgb(245, 242, 252);
  font-family: Inter;
  font-size: 14px;
  font-weight: 600;
  line-height: 143%;
  letter-spacing: 0%;
  text-align: center;
}
.selection_item_answers {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 4px;
}

.selection_item_answer {
  box-sizing: border-box;
  border: 1px solid rgb(25, 30, 56);
  border-radius: 9px;
  width: 100%;
  height: 51px;
  color: rgb(80, 88, 128);
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 117%;
  letter-spacing: 0%;
  text-align: left;
  padding-left: 17px;
  box-shadow: inset 0px 0px 41.7px 0px rgba(25, 30, 56, 0.4);
  background: rgb(6, 10, 35);
}

.w_25per {
  width: 312px;
}
.w_50per {
  width: 100%;
  max-width: 672px;
}
.selection_item_answer_btn {
  text-align: center;
  padding: 0;
}
.payment_methods {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 48px;
  margin-bottom: 48px;
}

.payment_method {
  display: flex;
  align-items: center;
  cursor: pointer;
  gap: 15px;
  box-sizing: border-box;
  border: 1px solid rgb(36, 41, 68);
  border-radius: 11px;
  padding: 15px;
  width: 25%;
  transition: all 0.4s ease;
}
.payment_method:hover {
  border: 1px solid rgb(107, 52, 250);
  transition: all 0.4s ease;
}
.payment_method p {
  color: rgb(245, 242, 252);
  font-family: Inter;
  font-size: 16px;
  font-weight: 500;
  line-height: 117%;
  letter-spacing: 0%;
  text-align: left;
}

.card_details {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 48px;
}
.dashboard_input_card input {
  text-indent: 54px;
}
.dashboard_input_card .dash_social {
  bottom: 15px;
  left: 18px;
}
.card_details_inputs {
  display: flex;
  align-items: center;
}
.card_details_name {
  width: 31%;
}
.card_details_inputs {
  width: 65%;
}
.card_details_inputs .dashboard_input_card {
  width: 60%;
}
.card_details_inputs .dashboard_input:nth-child(1) input,
.card_details_inputs .dashboard_input:nth-child(2) input {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}
.card_details_inputs .dashboard_input:nth-child(2) input,
.card_details_inputs .dashboard_input:nth-child(3) input {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}
.secured {
  display: flex;
  align-items: center;
  justify-content: end;
  margin-top: 15px;
  gap: 6px;
  margin-bottom: 10px;
}
.secured p {
  color: rgb(53, 176, 22);
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 143%;
  letter-spacing: 0%;
  text-align: left;
}

.dep_amount {
  display: flex;
  align-items: end;
  gap: 48px;
}
.dep_amount .main_btn {
  height: 52px;
  width: 192px;
  padding: 0;
}
.view_status_btn {
  border-radius: 100px;
  width: 153px;
  height: 52px;
  background: rgba(255, 255, 255, 0.05);
  color: rgb(255, 255, 255);
  font-family: Inter;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: center;
  margin-left: -32px;
}

.support_chat_wrapper {
  box-sizing: border-box;
  border: 1px solid rgb(36, 41, 68);
  border-radius: 11px;
  margin-bottom: 42px;
  display: flex;
  align-items: center;
}
.support_chat_users {
  width: 25%;
  border-right: 1px solid rgb(36, 41, 68);
  padding: 16px 12px;
}
.support_chat_user {
  width: 100%;
  box-sizing: border-box;
  border-bottom: 1px solid rgb(36, 41, 68);
  cursor: pointer;
  padding: 23px;
}
.support_chat_users .support_chat_user:last-child {
  border-bottom: none;
}
.support_chat_user_active {
  border-left: 1px solid rgb(25, 30, 56);
  border-right: 1px solid rgb(25, 30, 56);
  border-radius: 9px;
  border-bottom: none;
}

.support_chat_user_data {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 13px;
}

.support_chat_user_profile {
  display: flex;
  align-items: center;
  gap: 10px;
}
.support_chat_user_profile p {
  color: rgb(245, 242, 252);
  font-family: Inter;
  font-size: 16px;
  font-weight: 500;
  line-height: 143%;
  letter-spacing: 0%;
  text-align: left;
}
.support_chat_user_profile span {
  color: rgb(80, 88, 128);
  font-family: Inter;
  font-size: 10px;
  font-weight: 400;
  line-height: 143%;
  letter-spacing: 0%;
  text-align: left;
}

.mess_time p {
  color: rgb(80, 88, 128);
  font-family: Inter;
  font-size: 12px;
  font-weight: 400;
  line-height: 143%;
  letter-spacing: 0%;
  text-align: left;
}

.support_chat_user_mess p {
  color: rgb(198, 198, 215);
  font-family: Inter;
  font-size: 14px;
  font-weight: 400;
  line-height: 143%;
  letter-spacing: 0%;
  text-align: left;
}
.support_chat_area {
  width: 75%;
  position: relative;
  padding: 5px;
  height: 600px;
}
.support_chat_area_input {
  position: absolute;
  bottom: 5px;
  display: flex;
  align-items: center;
  width: 100%;
}
.support_chat_area_input input {
  width: 100%;
  box-sizing: border-box;
  border: 1px solid rgb(25, 30, 56);
  border-radius: 9px;
  height: 51px;
  box-shadow: inset 0px 0px 41.7px 0px rgba(25, 30, 56, 0.4);
  background: rgb(6, 10, 35);
  text-indent: 60px;
  color: #fff;
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 117%;
  letter-spacing: 0%;
  text-align: left;
}

.support_chat_area_input input::placeholder {
  color: rgb(80, 88, 128);
}

.support_chat_area_input .d_nav_user_avatar {
  position: absolute;
  left: 10px;
}
.icon_d_block_title {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 28px;
}
.icon_d_block_title .dashboard_page_blocks_title {
  margin: 0;
}

.support_faq_email {
  display: flex;
  align-items: start;
  justify-content: space-between;
  gap: 48px;
}
.support_faq,
.support_email {
  width: 50%;
}
.support_email .dashboard_input {
  margin-bottom: 27px;
}

.dashboard_input textarea {
  outline: none;
  padding-top: 18px;
  height: 135px;
}
.support_faq .faq_item {
  padding: 28px 32px;
}
.support_faq_email .show_more {
  margin-top: 37px;
}
.support_faq_email .main_btn {
  margin-top: 10px;
  padding: 0;
  width: 120px;
  height: 52px;
}

.list_table {
  box-sizing: border-box;
  border: 1px solid rgb(36, 41, 68);
  border-radius: 11px;
  padding: 5px;
  padding-top: 15px;
}

.list_table_filters {
  display: flex;
  align-items: center;
  margin-bottom: 12px;
  padding-left: 17px;
}
.list_table_filter {
  border: 0.5px solid transparent;
  border-radius: 9px;
  padding: 7px 13px;
  cursor: pointer;
  transition: all 0.4s ease;
}

.list_table_filter p {
  color: rgb(63, 69, 103);
  font-family: Inter;
  font-size: 14px;
  font-weight: 500;
  line-height: 143%;
  transition: all 0.4s ease;
  letter-spacing: 0%;
  text-align: left;
}
.list_table_filter:hover {
  transition: all 0.4s ease;
  color: #fff;
  border: 0.5px solid rgb(107, 52, 250);
}
.list_table_filter:hover p {
  transition: all 0.4s ease;
  color: #fff;
}

.list_table_filter_active {
  box-sizing: border-box;
  border: 0.5px solid rgb(107, 52, 250);
  border-radius: 9px;

  box-shadow: inset 0px 0px 5.5px 0px rgb(138, 81, 230);
  background: rgba(107, 52, 250, 0.1);
}
.list_table_filter_active p {
  color: #fff;
}

.notification_list_item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 18px;
  box-sizing: border-box;
  border: 1px solid transparent;
  border-radius: 9px;
  cursor: pointer;
  transition: all 0.4s ease;
}
.notification_list_item:hover {
  transition: all 0.4s ease;

  border: 1px solid rgb(25, 30, 56);

  box-shadow: inset 0px 0px 41.7px 0px rgba(25, 30, 56, 0.4);
  background: rgb(6, 10, 35);
}

.notification_list_item_data {
  display: flex;
  align-items: center;
  gap: 12px;
}
.notification_list_item_data_icon {
  width: 49px;
  height: 49px;
  box-sizing: border-box;
  border: 1px solid rgb(36, 41, 68);
  border-radius: 24.5px;

  box-shadow: inset 0px 0px 41.7px 0px rgba(25, 30, 56, 0.4);
  background: linear-gradient(
    180deg,
    rgb(6, 10, 35) 41.975%,
    rgb(6, 10, 35) 100%
  );
  display: flex;
  align-items: center;
  justify-content: center;
}

.notification_list_item_data p {
  color: rgb(245, 242, 252);
  font-family: Inter;
  font-size: 16px;
  font-weight: 500;
  line-height: 117%;
  letter-spacing: 0%;
  text-align: left;
  margin-bottom: 5px;
}

.notification_list_item_data span {
  color: rgb(80, 88, 128);
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 117%;
  letter-spacing: 0%;
  text-align: left;
}

.list_table_pagination {
  width: 100%;
  box-sizing: border-box;
  border: 1px solid rgb(25, 30, 56);
  border-radius: 2px 2px 9px 9px;

  box-shadow: inset 0px 0px 41.7px 0px rgba(25, 30, 56, 0.4);
  background: rgb(6, 10, 35);
  height: 51px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 4px;
}
.list_table_pagination_wrapper {
  display: flex;
  align-items: center;
  height: 100%;
}

.list_table_pagination_item {
  border-right: 1px solid rgb(25, 30, 56);
  height: 100%;
  width: 52px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
.list_table_pagination_item p {
  color: rgb(80, 88, 128);
  font-family: Inter;
  font-size: 16px;
  font-weight: 500;
  line-height: 117%;
  letter-spacing: 0%;
  text-align: center;
  transition: all 0.4s;
}
.list_table_pagination_item:hover p {
  color: #fff;
}

.export_data {
  display: flex;
  align-items: center;
  gap: 9px;
  padding-right: 16px;
}

.export_data p,
.export_data span {
  color: rgb(198, 198, 215);
  font-family: Inter;
  font-size: 14px;
  font-weight: 500;
  line-height: 143%;
  letter-spacing: 0%;
  text-align: left;
}
.export_data span {
  color: rgb(102, 48, 254);
  cursor: pointer;
}
.export_data div {
  background: rgb(36, 41, 68);
  width: 4px;
  height: 4px;
  border-radius: 100%;
}

.transaction_table {
  width: 100%;
}
.transaction_table thead {
  box-sizing: border-box;
  border: 1px solid rgb(25, 30, 56);
  border-radius: 9px 9px 2px 2px;
  margin-bottom: 4px;
  box-shadow: inset 0px 0px 41.7px 0px rgba(25, 30, 56, 0.4);
  background: rgb(6, 10, 35);
}
.transaction_table thead td {
  color: rgb(80, 88, 128);
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 117%;
  letter-spacing: 0%;
  text-align: left;
  padding: 16px 0;
}
.transaction_table thead td:first-child,
.transaction_table tbody tr td:first-child {
  padding-left: 17px;
}
.transaction_table tbody .main_table_text {
  color: rgb(245, 242, 252);
  font-family: Inter;
  font-size: 16px;
  font-weight: 500;
  line-height: 117%;
  letter-spacing: 0%;
  text-align: left;
}
.transaction_table tbody tr {
  box-sizing: border-box;
  border-left: 1px solid rgb(25, 30, 56);
  border-right: 1px solid rgb(25, 30, 56);
  border-radius: 2px;
  padding: 22px 0;
  box-shadow: inset 0px 0px 41.7px 0px rgba(25, 30, 56, 0.4);
  background: rgb(6, 10, 35);
}
.transaction_table tbody tr {
  height: 85px;
}

.transaction_table .transactions_list_item_status_succes {
  width: 91px;
}
.transaction_table .transactions_list_item_left {
  width: 250px;
}
.transaction_table tbody tr td:nth-child(3) {
  width: 30%;
}
.transaction_table .transactions_list_item_status_progress {
  width: 114px;
}
.transaction_table .transactions_list_item_status_failed {
  width: 73px;
}

.dashboard_nav_bar {
  overflow: hidden;
}
.dashboard_tab_titless {
  width: 450px !important;
}
@media only screen and (max-width: 1320px) {
  .d_nav_list,
  .d_nav_right .d_nav_item_settings {
    display: none;
  }
  .w_50per {
    width: 50%;
  }
}
@media only screen and (max-width: 1120px) {
  .main_dashboard {
    flex-direction: column;
    gap: 30px;
  }
  .dashboard_tab_titless {
    width: 415px !important;
  }
  .main_dashboard_left,
  .main_dashboard_right {
    width: 100%;
  }
  .dashboard_action_item {
    width: 47%;
  }
  .dashboard_actions .dashboard_action_item:nth-child(3) {
    width: 100%;
  }
  .dashboard_actions {
    flex-wrap: wrap;
  }
  .dashboard_action_item img {
    width: 100%;
  }
  .selection_items_list {
    flex-wrap: wrap;
  }
  .dashboard_tab_titles_wrapper {
    width: 100%;
    overflow: hidden;
    overflow-x: auto;
  }
  .active_dashboard_tab_title {
    padding-left: 15px;
    padding-right: 15px;
  }
  .dashboard_tab_titles {
    width: 970px;
  }
  .fo_page_wrapper .dashboard_tab_titles {
    width: auto;
  }

  .payment_methods {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .payment_method {
    width: 100%;
  }
  .support_faq_email {
    gap: 20px;
    flex-direction: column;
  }
  .support_faq,
  .support_email {
    width: 100%;
  }
  .support_chat_users {
    width: 40%;
  }
  .support_chat_area {
    width: 60%;
  }
  .dashboard_s_tab_titles {
    width: auto !important;
  }
}

@media only screen and (max-width: 680px) {
  .card_details {
    display: flex;
    flex-direction: column;
    align-items: start;
  }
  .card_details .dashboard_input,
  .card_details_inputs {
    width: 100%;
  }
  .dashboard_action_item {
    width: 100%;
  }
  .total_balance {
    flex-direction: column;
    align-items: start;
  }
  .total_balance_actions button {
    height: 50px;
    padding-top: 0;
    padding-bottom: 0;
  }
  .recent_transactions,
  .dashboard_action_item {
    padding: 20px;
  }
  .dashboard_action_item {
    min-height: 300px;
  }
  .dashboard_actions {
    margin-top: 30px;
    gap: 20px;
  }
  .d_footer {
    margin-top: 40px;
  }
  .transactions_list_item_icon {
    width: 35px;
    height: 35px;
    border-radius: 10px;
  }
  .transactions_list_item_left {
    gap: 10px;
  }
  .transactions_list_item_desc_title h5,
  .transactions_list_item_amount p {
    font-size: 14px;
    line-height: 100%;
  }
  .transactions_list_item_desc_data p {
    font-size: 10px;
  }
  .transactions_list_item_status {
    padding: 4px;
    gap: 3px;
  }
  .rewards_block {
    padding: 20px;
  }
  .dashboard_nav_wrapper a {
    position: relative;
  }
  .selection_items_list {
    flex-direction: column;
  }
  .selection_item {
    width: 100% !important;
  }
  .fo_page_wrapper .dashboard_tab_titles {
    width: 580px;
  }
  .payment_methods {
    gap: 20px;
  }
  .list_table_wrapper {
    overflow-x: auto;
  }
  .list_table_wrapper .list_table {
    width: 740px;
  }
  .support_chat_wrapper {
    flex-direction: column;
    height: auto;
  }
  .support_chat_users,
  .support_chat_area {
    width: 100%;
  }
  .support_chat_area {
    height: 200px;
  }
  .support_chat_area_input {
    width: 98%;
  }
  .support_chat_user {
    padding: 15px;
  }
  .notification_list_item {
    padding: 10px;
  }
  .notification_list_item_data p {
    font-size: 12px;
  }
  .list_table_not {
    overflow-x: auto;
  }
  .list_table_not .list_table {
    width: 475px;
  }
  .dashboard_inputs_list {
    gap: 20px;
    display: flex;
    flex-direction: column;
  }
  .dashboard_inputs_list .dashboard_input {
    width: 100%;
  }
  .dashboard_tab_titless_w {
    width: 100%;
    overflow-x: auto;
  }
  .two_steps {
    flex-direction: column;
    gap: 20px;
  }
  .two_step {
    width: 100%;
  }
  .session_item_browser {
    width: auto;
    margin-right: 10px;
  }
  .d_logo div {
    display: none;
  }
  body {
    padding-top: 100px;
  }
}

@media only screen and (max-width: 400px) {
  .transactions_list_item_status p {
    font-size: 10px;
  }
  .total_balance_num p {
    font-size: 40px;
  }
  .total_balance_actions button {
    height: 40px;
  }
  .d_logo {
    gap: 10px;
  }
  .dashboard_nav_bar {
    padding: 20px 0;
  }
  .share_link {
    margin-bottom: 20px;
  }
  .selection_items_list {
    gap: 20px;
  }
  .save_changes {
    margin-top: 30px;
  }
  .dashboard_title h1 {
    font-size: 20px;
    margin-bottom: 20px;
  }
  .dashboard_line {
    margin: 20px 0;
  }
  .card_details_inputs {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .dep_amount {
    flex-direction: column;
    align-items: start;
    gap: 20px;
  }
  .card_details_name {
    width: 100%;
  }
  .secured {
    margin-bottom: 18px;
  }
  .card_details_inputs input {
    border-radius: 11px !important;
  }
  .payment_methods {
    display: flex;
    flex-direction: column;
  }
  .fmain_dashboard {
    gap: 0 !important;
  }
  .dep_amount .main_btn {
    width: 100%;
  }
  .view_status_btn {
    margin: 0;
    width: 100%;
  }
  .two_step {
    padding: 20px;
  }
  .session_item,
  .session_item_left {
    flex-direction: column;
    align-items: start;
    gap: 20px;
  }
  .revoke_btn {
    padding: 10px 15px;
  }
}
