@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}

body {
  font-family: "Inter", sans-serif;
  background: #060a23;
  overflow-x: hidden;
}

input,
button {
  outline: none;
  border: none;
  font-family: "Inter", sans-serif;
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
}

.container {
  width: 100%;
  max-width: 1390px;
  margin: 0 auto;
}
.main_wrapper {
  overflow: hidden;
  width: 100%;
}
.main_nav_bar {
  position: relative;
}
.main_nav_bar_gradient {
  position: absolute;
  width: 100%;
  transform: translateY(-88%);
  filter: blur(21.9px);
  opacity: 0.5;
}
.main_nav_bar_cubes {
  position: absolute;
  transform: translateX(37%);
  z-index: 1;
  top: -280px;
}
.main_nav_wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 40px;
  position: relative;
  z-index: 2;
}
.main_nav_list {
  display: flex;
  align-items: center;
  gap: 34px;
}
.main_nav_list p,
.main_nav_actions p {
  color: rgb(255, 255, 255);
  font-family: Inter;
  font-size: 16px;
  font-weight: 600;
  line-height: 117%;
  letter-spacing: 0%;
  text-align: left;
  transition: all 1s ease;
}
.main_nav_list p:hover,
.main_nav_actions p:hover {
  transition: all 1s ease;
  background: linear-gradient(
    90deg,
    rgb(216, 181, 255),
    rgb(139, 168, 255),
    rgb(181, 66, 185),
    rgb(229, 229, 232)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
.main_nav_actions {
  display: flex;
  align-items: center;
  gap: 34px;
}
.main_btn {
  box-sizing: border-box;
  border: 2px solid rgba(109, 62, 244, 0.22);
  border-radius: 100px;
  padding: 16px 24px 16px 24px;
  box-shadow: inset 0px 0px 30.7px 0px rgb(138, 81, 230);
  background: rgb(101, 47, 255);
  color: rgb(255, 255, 255);
  font-family: Inter;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: center;
  transition: all 0.4s ease;
}

.main_btn:hover {
  transition: all 0.4s ease;
  background: rgb(59, 6, 205);
}
/* header */

.header_wrapper {
  padding-top: 140px;
  position: relative;
}

.loved_investm {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 13px;
  margin-bottom: 12px;
}
.loved_investm p {
  background: linear-gradient(
    90deg,
    rgb(216, 181, 255),
    rgb(139, 168, 255),
    rgb(181, 66, 185),
    rgb(229, 229, 232)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  font-family: Inter;
  font-size: 14px;
  font-weight: 500;
  line-height: 131%;
  letter-spacing: 0%;
  text-align: left;
  text-transform: uppercase;
}

.header_wrapper_content {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.header_wrapper_content h1 {
  color: rgb(229, 229, 232);
  font-family: Inter;
  font-size: 80px;
  font-weight: 300;
  line-height: 117%;
  letter-spacing: 0%;
  text-align: center;
}

.header_wrapper_content p {
  color: rgb(198, 198, 215);
  font-family: Inter;
  font-size: 18px;
  font-weight: 400;
  line-height: 143%;
  letter-spacing: 0%;
  text-align: center;
  margin: 27px 0 34px;
}

.main_btn {
  display: flex;
  align-items: center;
  gap: 10px;
}

.header_left_icon {
  position: absolute;
  left: 25px;
  top: 200px;
  z-index: 1;
}
.parallax_element img{
  z-index: 2 !important; 
}
.header_wrapper {
  position: relative;
}

.header_right_icon {
  right: 11px;
  top: 260px;
  position: absolute;
  z-index: 1;
}

.header_cube {
  position: absolute;
  transform: translateX(-67%);
  z-index: 1;
}

.header_wrapper_gif {
  position: absolute;
  width: 100%;
  top: 160px;
}
.loved_investm,
.header_wrapper_content {
  position: relative;
  z-index: 2;
}

.header_content_block {
  border-radius: 28px;
  width: 100%;
  margin-top: 310px;
  backdrop-filter: blur(150px);
}
.header_content_bg {
  position: absolute;
  width: 100%;
  top: 410px;
}

.header_content_block_top {
  padding: 20px 100px 0 74px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header_motto {
  border-radius: 42px;

  border: 1px solid rgba(216, 181, 255, 0.488);
  width: auto;
  padding: 3px;
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 20px;
}

.header_motto p {
  color: rgb(229, 229, 232);
  font-family: Inter;
  font-size: 14px;
  font-weight: 500;
  line-height: 117%;
  letter-spacing: 0%;
  text-align: left;
  text-transform: uppercase;

  background: linear-gradient(
    90deg,
    rgb(216, 181, 255),
    rgb(139, 168, 255),
    rgb(181, 66, 185),
    rgb(229, 229, 232)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  padding-left: 10px;
}

.header_motto span {
  border-radius: 42px;
  padding: 5px 9px;
  background: linear-gradient(
    90deg,
    rgb(216, 181, 255) -11.111%,
    rgb(139, 168, 255) 12.831%,
    rgb(181, 66, 185) 55.803%,
    rgb(229, 229, 232) 111.667%
  );
  color: rgb(229, 229, 232);
  font-family: Inter;
  font-size: 14px;
  font-weight: 500;
  line-height: 117%;
  letter-spacing: 0%;
  text-align: left;
  text-transform: uppercase;
  text-align: center;
}

.header_content_block_top_left {
  max-width: 690px;
  display: flex;
  flex-direction: column;
  align-items: start;
}
.header_content_block_top_left h2 {
  color: rgb(229, 229, 232);
  font-family: Inter;
  font-size: 42px;
  font-weight: 500;
  line-height: 117%;
  letter-spacing: 0%;
  text-align: left;
  margin-bottom: 38px;
}

.header_content_block_top_left_text {
  color: rgb(198, 198, 215);
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 143%;
  letter-spacing: 0%;
  text-align: left;
}

.issues_block {
  display: flex;
  align-items: center;
  gap: 10px;
  padding-left: 72px;
}
.issues_block p {
  color: rgb(107, 52, 250);
  font-family: Inter;
  font-size: 14px;
  font-weight: 400;
  line-height: 117%;
  letter-spacing: 0%;
  text-align: left;
}

.issues_block div {
  border: 1px solid rgb(107, 52, 250);
  width: 12px;
}
.header_cards {
  background: url(../assets/gradients/header-cards-bg.svg);
  background-position: center;
  background-size: cover;
  width: 100%;
  padding: 38px 0 108px 2px;
}
.header_cards .header_card {
  padding-right: 72px;
  padding-left: 72px;
}
.header_card p {
  color: rgb(229, 229, 232);
  font-family: Inter;
  font-size: 18px;
  font-weight: 600;
  line-height: 117%;
  letter-spacing: 0%;
  text-align: left;
  padding: 17px 0;
}
.header_card span {
  color: rgb(198, 198, 215);
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 143%;
  letter-spacing: 0%;
  text-align: left;
}

.header_cards_top {
  display: flex;
  align-items: start;
  justify-content: space-between;
}
.header_cards_top .header_card {
  width: 33.33%;
}

.header_cards_bottom {
  display: flex;
  align-items: start;
  justify-content: space-between;
  padding-top: 126px;
}
.header_cards_bottom .header_card {
  width: 50%;
}

.header_content_block {
  border: 1px solid rgba(22, 26, 51, 0.49);
  border-top: 0;
}
.why_choose_block {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.why_choose_block_logo {
  margin-bottom: 25px;
}

.why_choose_block h2 {
  color: rgb(229, 229, 232);
  font-family: Inter;
  font-size: 48px;
  font-weight: 300;
  line-height: 117%;
  letter-spacing: 0%;
  text-align: center;
  margin-bottom: 64px;
}

.advances_block {
  box-sizing: border-box;
  border: 1px solid rgb(36, 41, 68);
  border-radius: 28px;

  background: linear-gradient(
    180deg,
    rgb(6, 10, 35) 41.975%,
    rgb(6, 10, 35) 100%
  );
  width: 100%;
  max-width: 672px;
  padding: 70px 80px 62px;
}

.advances_block_top {
  box-sizing: border-box;
  border: 1px solid rgb(36, 41, 68);
  border-radius: 19px;

  background: linear-gradient(
    180deg,
    rgb(6, 10, 35) 41.975%,
    rgb(6, 10, 35) 100%
  );
  padding: 32px 27px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 48px;
}

.advances_block_top img {
  cursor: pointer;
}
.advances_block_top p {
  color: rgb(229, 229, 232);
  font-family: Inter;
  font-size: 18px;
  font-weight: 600;
  line-height: 117%;
  letter-spacing: 0%;
  text-align: left;
}

.advances_block_text p {
  color: rgb(198, 198, 215);
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 143%;
  letter-spacing: 0%;
  text-align: center;
}

.advances_block_line {
  border: 1px solid rgb(36, 41, 68);
  width: 100%;
  margin: 48px 0 34px;
}
.advances_block_list h3 {
  color: rgb(229, 229, 232);
  font-family: Inter;
  font-size: 16px;
  font-weight: 600;
  line-height: 143%;
  letter-spacing: 0%;
  text-align: left;
  margin-bottom: 24px;
}

.advances_block_list ul {
  padding-left: 20px;
}
.advances_block_list li {
  font-family: Inter;
  font-size: 13px;
  font-weight: 400;
  line-height: 143%;
  letter-spacing: 0%;
  text-align: left;
  color: rgb(198, 198, 215);
  margin-bottom: 14px;
}

.advances_block_list li span {
  color: rgb(229, 229, 232);
  font-weight: 600;
}

.header_bottom_block {
  box-sizing: border-box;
  border: 1px solid rgb(36, 41, 68);
  border-radius: 28px;

  background: linear-gradient(
    180deg,
    rgb(6, 10, 35) 41.975%,
    rgb(6, 10, 35) 100%
  );
  width: 100%;
  max-width: 1250px;
  padding: 50px 80px 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: -40px;
  margin-bottom: -110px;
}

.header_bottom_block_left h4 {
  color: rgb(101, 48, 255);
  font-family: Inter;
  font-size: 32px;
  font-weight: 300;
  line-height: 117%;
  letter-spacing: 0%;
  text-align: left;
  margin-bottom: 18px;
}
.header_bottom_block_left p {
  color: rgb(198, 198, 215);
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 143%;
  letter-spacing: 0%;
  text-align: left;
}

.why_choose_block,
.advances_block,
.header_bottom_block {
  position: relative;
}
.why_choose_left {
  position: absolute;
  left: 150px;
  top: 150px;
}

.why_choose_right {
  position: absolute;
  top: 42px;
  right: 120px;
}
.why_choose_bg {
  position: absolute;
  width: 100%;
  bottom: 0px;
}

/* overviews */
.overviews_wrapper {
  padding-top: 220px;
}
.overviews_wrapper_left {
  width: 100%;
  max-width: 360px;
}
.overviews_top_card {
  border-radius: 27px;
  padding: 33px;

  box-sizing: border-box;
  border: 1px solid rgb(25, 30, 56);
  border-radius: 28px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  position: relative;
}
.overview_card_bg {
  position: absolute;

  top: 160px;
}
.overviews_top_card_title {
  width: 100%;
  position: relative;
}
.overviews_top_card_title h3 {
  color: rgb(229, 229, 232);
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
  line-height: 117%;
  letter-spacing: 0%;
  text-align: left;
  margin-bottom: 14px;
}

.overviews_top_card p {
  color: rgb(198, 198, 215);
  font-family: Inter;
  font-size: 14px;
  font-weight: 400;
  line-height: 143%;
  letter-spacing: 0%;
  text-align: left;
  margin-bottom: 20px;
  position: relative;
  z-index: 2;
}

.overview_arrow {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 2;
}

.overviews_wrapper_left_title h4 {
  color: rgb(229, 229, 232);
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
  line-height: 117%;
  letter-spacing: 0%;
  text-align: left;
  margin: 44px 0 27px;
}

.overviews_bottom_card {
  box-sizing: border-box;
  border: 1px solid rgb(25, 30, 56);
  border-radius: 28px;
  padding: 45px 34px;
}

.overviews_bottom_card_item h4 {
  color: rgb(229, 229, 232);
  font-family: Inter;
  font-size: 16px;
  font-weight: 600;
  line-height: 143%;
  letter-spacing: 0%;
  text-align: left;
  margin: 24px 0 10px;
}

.overviews_bottom_card_item p {
  color: rgb(198, 198, 215);
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 143%;
  letter-spacing: 0%;
  text-align: left;
}

.overviews_bottom_line {
  margin: 50px 0 36px;
  border: 1px solid rgb(25, 30, 56);
  width: 100%;
}

.overviews_wrapper {
  display: flex;
  align-items: start;
  justify-content: space-between;
  gap: 90px;
  border-bottom: 1px solid rgb(21, 26, 52);
}
.overviews_wrapper_right {
  width: 100%;
  max-width: 940px;
}
.overviews_wrapper_right {
  border-left: 1px solid rgb(25, 30, 56);
  padding-left: 96px;
  padding-bottom: 95px;
}

.overviews_wrapper_right_main_text h2 {
  margin-bottom: 30px;
  color: rgb(229, 229, 232);
  font-family: Inter;
  font-size: 48px;
  font-weight: 300;
  line-height: 117%;
  letter-spacing: 0%;
  text-align: left;
}

.main_text {
  font-family: Inter;
  font-size: 16px;
  font-weight: 600;
  line-height: 143%;
  letter-spacing: 0%;
  text-align: left;
}

.overviews_wrapper_right_text {
  font-family: Inter;
  font-size: 16px;
  font-weight: 600;
  line-height: 143%;
  letter-spacing: 0%;
  text-align: left;
  color: rgb(198, 198, 215);
}
.overviews_wrapper_right_text span {
  color: rgb(229, 229, 232);
  font-weight: 600;
}

.overviews_wrapper_right_top {
  display: flex;
  align-items: start;
  gap: 70px;
}
.overviews_stats h3 {
  color: rgb(229, 229, 232);
  font-family: Svarge;
  font-size: 52px;
  font-weight: 300;
  line-height: 117%;
  letter-spacing: 0%;
  text-align: left;
  margin-bottom: 8px;
}
.overviews_stats p {
  color: rgb(198, 198, 215);
  font-family: Inter;
  font-size: 14px;
  font-weight: 400;
  line-height: 143%;
  letter-spacing: 0%;
  text-align: left;
  margin-bottom: 30px;
}

.overviews_wrapper_right_top {
  margin-bottom: 27px;
}
.why_is_different {
  padding-top: 44px;
}

.why_is_different h3 {
  color: rgb(229, 229, 232);
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
  line-height: 117%;
  letter-spacing: 0%;
  text-align: left;
  margin-bottom: 34px;
}

.why_is_different_item_title {
  width: 240px;
}
.why_is_different_item_title p {
  font-family: Inter;
  font-size: 16px;
  font-weight: 600;
  line-height: 117%;
  letter-spacing: 0%;
  text-align: left;
  color: rgb(229, 229, 232);
}
.why_is_different_item_title span {
  box-sizing: border-box;
  border: 1px solid rgb(25, 30, 56);
  border-radius: 16px;

  box-shadow: inset 0px 0px 9.9px 0px rgb(25, 30, 56);
  background: rgb(6, 10, 35);
  color: rgb(82, 88, 120);
  padding: 1px 10px 3px;
  margin: 0 5px;
}
.why_is_different_item_text p {
  color: rgb(198, 198, 215);
  font-family: Inter;
  font-size: 14px;
  font-weight: 400;
  line-height: 143%;
  letter-spacing: 0%;
  text-align: left;
  max-width: 550px;
}

.why_is_different_item {
  display: flex;
  align-items: start;
  gap: 50px;
  margin-bottom: 36px;
}
.join_now_block {
  margin-top: 55px;
  border-radius: 28px;
  position: relative;
}
.join_now_block img {
  position: absolute;
  left: 0;
  top: 0;
  transform: translateY(-45%);
}

.join_now_block {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 36px;
  padding-right: 80px;
}
.join_now_block_text h4 {
  color: rgb(6, 10, 35);
  font-family: Inter;
  font-size: 24px;
  font-weight: 600;
  line-height: 117%;
  letter-spacing: 0%;
  text-align: left;
  margin-bottom: 11px;
}

.join_now_block_text p {
  color: rgb(6, 10, 35);
  font-family: Inter;
  font-size: 14px;
  font-weight: 400;
  line-height: 143%;
  letter-spacing: 0%;
  text-align: left;
}

.join_now_block .join_now_block_text,
.join_now_block button {
  position: relative;
}

/* how it works */

.how_it_works_wrapper {
  padding-top: 90px;
  padding-bottom: 50px;
}

.how_it_works_title_logo {
  box-sizing: border-box;
  border: 2px solid rgba(109, 62, 244, 0.22);
  border-radius: 28px;
  width: 90px;
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 0px 8.1px 0px rgb(101, 47, 255),
    0px 0px 16.2px 0px rgb(101, 47, 255), 0px 0px 56.7px 0px rgb(101, 47, 255),
    0px 0px 113.4px 0px rgb(101, 47, 255), 0px 0px 194.4px 0px rgb(101, 47, 255),
    0px 0px 340.2px 0px rgb(101, 47, 255);
  background: rgb(101, 47, 255);
}

.how_it_works_title {
  display: flex;
  align-items: center;
  gap: 37px;
  margin-bottom: 42px;
}
.how_it_works_title h3 {
  background: linear-gradient(90deg, rgb(101, 47, 255), rgb(229, 229, 232));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
  line-height: 117%;
  letter-spacing: 0%;
  text-align: left;
  margin-bottom: 19px;
}

.how_it_works_title p {
  background: linear-gradient(90deg, rgb(101, 47, 255), rgb(229, 229, 232));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 143%;
  letter-spacing: 0%;
  text-align: left;
}

.how_it_works_cards_title h4 {
  color: rgb(229, 229, 232);
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
  line-height: 117%;
  letter-spacing: 0%;
  text-align: left;
  margin-bottom: 23px;
}
.how_it_works_cards .how_it_works_card {
  width: 25%;
  height: 400px;
}
.how_it_works_card {
  box-sizing: border-box;
  border: 1px solid rgb(25, 30, 56);
  border-radius: 28px;
  position: relative;
  box-shadow: inset 0px 0px 41.7px 0px rgba(25, 30, 56, 0.4);
  background: rgb(6, 10, 35);
  padding: 40px 36px 36px;
}
.how_it_works_card img {
  position: absolute;
  top: 0;
  right: 0;
}

.how_it_works_card h4,
.how_it_works_bottom_card h4 {
  color: rgb(229, 229, 232);
  font-family: Inter;
  font-size: 18px;
  font-weight: 700;
  line-height: 117%;
  letter-spacing: 0%;
  text-align: left;
  margin-bottom: 24px;
}

.how_it_works_card p,
.how_it_works_bottom_card p {
  color: rgb(198, 198, 215);
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 143%;
  letter-spacing: 0%;
  text-align: left;
  margin-bottom: 40px;
}

.how_it_works_card button {
  box-sizing: border-box;
  border-radius: 100px;
  padding: 16px 24px 16px 24px;
  color: rgb(255, 255, 255);
  font-family: Inter;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: center;
  background: transparent;
  box-shadow: inset 1px 1px 3px rgba(255, 255, 255, 0.7);
}

.how_it_works_cards {
  display: flex;
  align-items: start;
  justify-content: space-between;
  gap: 48px;
  margin-bottom: 43px;
}

.how_it_works_card_number {
  position: absolute;
  bottom: 52px;
}
.how_it_works_card_number span {
  color: rgb(66, 74, 112);

  font-size: 20px;
  font-weight: 400;
  line-height: 117%;
  letter-spacing: 0%;
  text-align: left;
}

.how_it_works_bottom_card {
  width: 100%;
  box-sizing: border-box;
  border: 1px solid rgb(25, 30, 56);
  border-radius: 28px;
  padding: 40px 34px;
  box-shadow: inset 0px 0px 41.7px 0px rgba(25, 30, 56, 0.4);
  background: rgb(6, 10, 35);
  position: relative;
}
.how_it_works_bottom_card p,
.how_it_works_bottom_card h4 {
  margin: 0;
  position: relative;
  z-index: 1;
}

.how_it_works_bottom_card_title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 26px;
}
.how_it_works_bottom_card_title span {
  color: rgb(66, 74, 112);
  font-size: 20px;
  font-weight: 400;
  line-height: 117%;
  letter-spacing: 0%;
  text-align: left;
}

.how_it_works_bottom_card img {
  position: absolute;
  bottom: 0;
}

.blocks_title h3 {
  color: rgb(229, 229, 232);
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
  line-height: 117%;
  letter-spacing: 0%;
  text-align: left;
  margin-bottom: 23px;
}

.feature_for_traders_list {
  display: flex;
  align-items: start;
  justify-content: space-between;
  gap: 84px;
}
.feature_for_traders {
  padding-bottom: 40px;
  z-index: 1;
  position: relative;
}

.how_it_works,
.how_it_works_wrapper {
  position: relative;
  z-index: 1;
}
.how_it_works_bg {
  position: absolute;
  bottom: -38%;
  right: 0;
  transform: translateX(50%);
}

.goahead_bg {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
}

.goahead_bg_left {
  position: absolute;
  left: 0;
  top: 110px;
}
.goahead_bg_right {
  position: absolute;
  right: 0;
  top: 110px;
}
.goahead_bg_center {
  position: relative;
}
.goahead_content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  backdrop-filter: blur(40px);
  background: linear-gradient(
    180deg,
    rgba(6, 10, 35, 0.11),
    rgb(6, 10, 35) 67.876%
  );
  width: 100%;
  max-width: 920px;
  margin: 0 auto;
  margin-top: -342px;
  padding-top: 46px;
  position: relative;
}
.goahead_content h3 {
  color: rgb(229, 229, 232);
  font-family: Inter;
  font-size: 48px;
  font-weight: 300;
  line-height: 117%;
  letter-spacing: 0%;
  text-align: center;
  margin-bottom: 15px;
}
.goahead_content p {
  color: rgb(198, 198, 215);
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 143%;
  letter-spacing: 0%;
  text-align: center;
  max-width: 756px;
  margin-bottom: 44px;
}

.goahead_bg_cube {
  position: absolute;

  transform: translateY(-20%);
}

.for_investors {
  padding-top: 88px;
  padding-bottom: 88px;
}
.for_investors .blocks_title h3 {
  margin-bottom: 36px;
}

.for_investors_left {
  padding: 40px 35px;
  box-sizing: border-box;
  border: 1px solid rgb(25, 30, 56);
  border-radius: 28px;
  box-shadow: inset 0px 0px 41.7px 0px rgba(25, 30, 56, 0.4);
  position: relative;
  max-width: 430px;
  width: 100%;
}

.for_investors_left_top h4 {
  color: rgb(229, 229, 232);
  font-family: Inter;
  font-size: 32px;
  font-weight: 600;
  line-height: 117%;
  letter-spacing: 0%;
  text-align: left;
  margin-bottom: 24px;
}

.for_investors_left_top p {
  color: rgb(198, 198, 215);
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 143%;
  letter-spacing: 0%;
  text-align: left;
  margin-bottom: 74px;
}

.for_investors_left_item,
.for_investors_left_top {
  position: relative;
}

.for_investors_left_item h4 {
  color: rgb(229, 229, 232);
  font-family: Inter;
  font-size: 16px;
  font-weight: 600;
  line-height: 117%;
  letter-spacing: 0%;
  text-align: left;
}
.for_investors_left_item div {
  width: 100%;
  height: 1px;
  background: rgb(25, 30, 56);
  margin: 17px 0 18px;
}

.for_investors_left_item p {
  color: rgb(198, 198, 215);
  font-family: Inter;
  font-size: 13px;
  font-weight: 400;
  line-height: 143%;
  letter-spacing: 0%;
  text-align: left;
}
.for_investors_left .for_investors_left_item:nth-child(3) {
  margin-bottom: 42px;
}

.for_investors_left img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
}

.for_investors_wrapper {
  display: flex;
  align-items: start;
  gap: 49px;
}

.for_investors_right {
  max-width: 912px;
  width: 100%;
}

.takenomics_block {
  box-sizing: border-box;
  border: 1px solid rgb(25, 30, 56);
  border-radius: 28px;
  position: relative;
  box-shadow: inset 0px 0px 41.7px 0px rgba(25, 30, 56, 0.4);
  background: rgb(6, 10, 35);
}

.takenomics_block_texts {
  display: flex;
  align-items: start;
}
.takenomics_block_texts div {
  width: 50%;
}
.takenomics_block_texts h4 {
  color: rgb(229, 229, 232);
  font-family: Inter;
  font-size: 16px;
  font-weight: 600;
  line-height: 117%;
  letter-spacing: 0%;
  text-align: center;
  margin-bottom: 13px;
}
.takenomics_block_icons {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding-left: 100px;
  padding-top: 36px;
  position: relative;
  z-index: 1;
}

.takenomics_block_texts p {
  color: rgb(198, 198, 215);
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 143%;
  letter-spacing: 0%;
  text-align: center;
  max-width: 318px;
  margin: 0 auto;
}

.takenomics_block_texts {
  margin-top: -145px;
  padding-bottom: 47px;
}
.takenomics_block_line {
  width: 1px;
  height: 100%;
  background: rgb(25, 30, 56);
  position: absolute;
  top: 0;
  left: 50%;
}
.takenomics_block h3 {
  color: rgb(229, 229, 232);
  font-family: Inter;
  font-size: 32px;
  font-weight: 600;
  line-height: 117%;
  letter-spacing: 0%;
  text-align: left;
  position: absolute;
  top: 39px;
  left: 36px;
}

.equality_block {
  box-sizing: border-box;
  border: 1px solid rgb(25, 30, 56);
  border-radius: 28px;
  padding: 44px 36px;
  margin-top: 48px;
}
.equality_block h4 {
  color: rgb(229, 229, 232);
  font-family: Inter;
  font-size: 32px;
  font-weight: 600;
  line-height: 117%;
  letter-spacing: 0%;
  text-align: left;
  margin-bottom: 20px;
}
.equality_block p {
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 143%;
  letter-spacing: 0%;
  text-align: left;
  color: rgb(198, 198, 215);
}

.equality_block p span {
  color: rgb(229, 229, 232);
  font-weight: 600;
}

/* community */

.community_title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 100px;
}
.community_title_motto {
  padding: 8px 15px;
  border: 1px solid rgba(216, 181, 255, 0.488);
  border-radius: 42px;
  margin-bottom: 18px;
}
.community_title_motto p {
  color: rgb(229, 229, 232);
  font-family: Inter;
  font-size: 14px;
  font-weight: 500;
  line-height: 117%;
  letter-spacing: 0%;
  text-align: left;
  text-transform: uppercase;
  background: linear-gradient(
    90deg,
    rgb(216, 181, 255),
    rgb(139, 168, 255),
    rgb(181, 66, 185),
    rgb(229, 229, 232)
  );
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.community_title h2 {
  color: rgb(229, 229, 232);
  font-family: Inter;
  font-size: 48px;
  font-weight: 300;
  line-height: 117%;
  letter-spacing: 0%;
  text-align: center;
  margin-bottom: 29px;
}
.community_title .community_title_text {
  color: rgb(198, 198, 215);
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 143%;
  letter-spacing: 0%;
  text-align: center;
}

.community_blocks_top {
  display: flex;
  align-items: start;
  justify-content: space-between;
  margin-bottom: 74px;
}

.community_blocks_top .header_card {
  max-width: 371px;
}
.community_blocks_top .header_card:first-child {
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: end;
  text-align: right;
}
.community_blocks_top .header_card:first-child span {
  text-align: right;
}
.community_blocks_bottom {
  display: flex;
  align-items: center;
  justify-content: center;
}
.community_blocks_bottom .header_card {
  max-width: 371px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.community_blocks_bottom .header_card span {
  text-align: center;
}

.community {
  padding-bottom: 100px;
}
.community_title,
.community_blocks_wrapper {
  position: relative;
}
.community_blocks_wrapper_bg {
  position: absolute;
  top: 0;
  transform: translateY(28%);
}

.community_blocks_wrapper_cubes {
  position: absolute;
  top: 250px;
  transform: translateX(50%);
}

.token_details_title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.token_details_title_gr {
  box-sizing: border-box;
  border-radius: 42px;

  background: linear-gradient(
    90deg,
    rgb(216, 181, 255),
    rgb(139, 168, 255) 19.5%,
    rgb(181, 66, 185) 54.5%,
    rgb(229, 229, 232) 100%
  );
  padding: 8px 17px;
  margin-bottom: 22px;
}

.token_details_title_gr p {
  color: rgb(229, 229, 232);
  font-family: Inter;
  font-size: 14px;
  font-weight: 500;
  line-height: 117%;
  letter-spacing: 0%;
  text-align: left;
  text-transform: uppercase;
}

.token_details_title h2 {
  color: rgb(229, 229, 232);
  font-family: Inter;
  font-size: 60px;
  font-weight: 300;
  line-height: 117%;
  letter-spacing: 0%;
  text-align: center;
  margin-bottom: 20px;
}

.token_details_title span {
  color: rgb(198, 198, 215);
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 143%;
  letter-spacing: 0%;
  text-align: center;
}

.token_details_title {
  margin-bottom: 60px;
}

.token_details_top_cards {
  display: flex;
  align-items: start;
  justify-content: space-between;
  margin-bottom: 40px;
  position: relative;
}
.token_details_top_card {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.token_details {
  max-width: 1250px !important;
}
.token_details_top_card h4 {
  color: rgb(229, 229, 232);
  font-family: Inter;
  font-size: 18px;
  font-weight: 600;
  line-height: 117%;
  letter-spacing: 0%;
  text-align: center;
  margin-top: 20px;
}
.token_details_top_card h5 {
  margin: 38px 0 8px;
  color: rgb(80, 88, 128);
  font-family: Inter;
  font-size: 14px;
  font-weight: 500;
  line-height: 117%;
  letter-spacing: 0%;
  text-align: center;
  text-transform: uppercase;
}

.token_details_top_card p {
  font-family: Inter;
  font-size: 32px;
  font-weight: 600;
  line-height: 117%;
  letter-spacing: 0%;
  text-align: center;
  color: rgb(96, 48, 232);
}

.token_details_top_card p span {
  font-size: 16px;
  font-weight: 300;
  line-height: 117%;
  color: rgb(80, 88, 128);
}

.token_details_top_cards .token_details_top_card:last-child p {
  color: rgb(96, 48, 232);
  font-family: Inter;
  font-size: 18px;
  font-weight: 600;
  line-height: 143%;
  letter-spacing: 0%;
  text-align: center;
}
.token_details_list {
  padding-top: 30px;
}

.token_details_item {
  border: 1px solid rgb(25, 30, 56);
  border-bottom: none;
  border-radius: 28px 28px 0px 0px;
  padding: 0 50px;
  margin-top: -30px;
  display: flex;
  align-items: start;
  justify-content: space-between;
}

.token_details_item_content {
  width: 50%;
  padding: 30px 0 60px;
}
.token_details_item_content_title {
  display: flex;
  align-items: center;
  gap: 5px;
  margin-bottom: 6px;
}
.token_details_item_content_title h4 {
  color: rgb(229, 229, 232);
  font-family: Inter;
  font-size: 16px;
  font-weight: 600;
  line-height: 143%;
  letter-spacing: 0%;
  text-align: left;
}

.token_details_item_content p {
  color: rgb(198, 198, 215);
  font-family: Inter;
  font-size: 14px;
  font-weight: 400;
  line-height: 143%;
  letter-spacing: 0%;
  text-align: left;
}

.token_details_item .token_details_item_content:first-child {
  border-right: 1px solid rgb(25, 30, 56);
}
.token_details_item .token_details_item_content:last-child {
  padding-left: 47px;
}

.allocation_block {
  padding: 40px 50px 60px;
  border-radius: 28px;
  border: 1px solid rgb(25, 30, 56);
  margin-top: -30px;
  position: relative;
  z-index: 1;
  background: rgb(6, 10, 35);
}
.allocation_block_title h4 {
  color: rgb(229, 229, 232);
  font-family: Inter;
  font-size: 18px;
  font-weight: 600;
  line-height: 117%;
  letter-spacing: 0%;
  text-align: left;
  margin-bottom: 27px;
}
.allocation_block_items {
  display: flex;
  flex-wrap: wrap;
  align-items: start;
  gap: 15px;
}
.allocation_block_item {
  display: flex;
  align-items: center;
  gap: 16px;
  width: 49%;
  padding-right: 24px;
}
.allocation_block_item_border {
  box-sizing: border-box;
  border: 1px solid rgb(25, 30, 56);
  border-radius: 10px;
  width: 10px;
  height: 71px;
  box-shadow: inset 4px 0px 0px 0px rgb(25, 30, 56);
  background: rgb(6, 10, 35);
}
.allocation_block_item_content_title {
  display: flex;
  align-items: center;
  gap: 10px;
  position: relative;
}
.allocation_block_item_content_title h4 {
  color: rgb(229, 229, 232);
  font-family: Inter;
  font-size: 16px;
  font-weight: 700;
  line-height: 143%;
  letter-spacing: 0%;
  text-align: left;
}

.allocation_block_item_content_title span {
  color: rgb(83, 220, 88);
  font-family: Inter;
  font-size: 14px;
  font-weight: 500;
  line-height: 143%;
  letter-spacing: 0%;
  text-align: right;
  position: absolute;
  right: 0;
}

.allocation_block_item_content {
  width: 90%;
}
.allocation_block_item_content p {
  color: rgb(198, 198, 215);
  font-family: Inter;
  font-size: 13px;
  font-weight: 400;
  line-height: 143%;
  letter-spacing: 0%;
  text-align: left;
}

.capitalize {
  padding-top: 48px;
  position: relative;
  width: 100%;
}
.capitalize h3 {
  color: rgb(229, 229, 232);
  font-family: Inter;
  font-size: 32px;
  font-weight: 600;
  line-height: 117%;
  letter-spacing: 0%;
  text-align: left;
}
.capitalize p {
  color: rgb(198, 198, 215);
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 143%;
  letter-spacing: 0%;
  text-align: left;
  max-width: 431px;
  margin: 37px 0 41px;
}

.capitalize img {
  position: absolute;
  right: -81px;
  bottom: -62px;
}
.allocation_block_items {
  position: relative;
  z-index: 1;
}

.token_details_bottom {
  padding-top: 67px;
}
.token_details_bottom_top_list {
  display: flex;
  align-items: start;
  margin-bottom: 60px;
}
.token_details_bottom_title h3 {
  color: rgb(229, 229, 232);
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
  line-height: 117%;
  letter-spacing: 0%;
  text-align: left;
  width: 290px;
}
.token_details_bottom_top_list .token_details_bottom_content {
  margin-right: 85px;
}
.token_details_bottom_top_list .token_details_bottom_content:last-child {
  margin: 0;
}
.token_details_bottom_content p {
  color: rgb(229, 229, 232);
  font-family: Inter;
  font-size: 16px;
  font-weight: 600;
  line-height: 117%;
  letter-spacing: 0%;
  text-align: left;
  margin-bottom: 6px;
}
.token_details_bottom_content span {
  color: rgb(198, 198, 215);
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 143%;
  letter-spacing: 0%;
  text-align: left;
}

.token_details_bottom_list_item {
  width: 461px;
  margin-right: 36px;
}
.token_details_bottom_list {
  display: flex;
  align-items: start;
}
.token_details_bottom_list_item_title {
  display: flex;
  align-items: center;
  gap: 8px;
  padding-bottom: 22px;
  border-bottom: 1px solid rgb(25, 30, 56);
  margin-bottom: 31px;
}

.token_details_bottom_list_item_title p {
  color: rgb(80, 88, 128);
  font-family: Inter;
  font-size: 14px;
  font-weight: 500;
  line-height: 117%;
  letter-spacing: 0%;
  text-align: left;
  text-transform: uppercase;
}

.token_details_bottom_list_item .token_details_bottom_content:nth-child(2) {
  margin-bottom: 35px;
}

.join_revolution {
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  border: 2px solid rgb(101, 47, 255);
  border-radius: 28px;

  box-shadow: inset 13px 0px 0px 0px rgb(101, 47, 255);
  background: rgb(6, 10, 35);
  padding: 36px 43px;
  margin-top: 61px;
  margin-bottom: 91px;
}

.join_revolution_left h4 {
  color: rgb(229, 229, 232);
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
  line-height: 117%;
  letter-spacing: 0%;
  text-align: left;
  margin-bottom: 11px;
}

.join_revolution_left p {
  color: rgb(198, 198, 215);
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 143%;
  letter-spacing: 0%;
  text-align: left;
}

.token_details_bottom_bg {
  position: absolute;
  left: -30px;
  transform: translateY(-20%);
}
.token_details_bottom_top_list,
.token_details_bottom_list {
  position: relative;
}

/*  */

/* Faq */
.faq {
  padding-top: 104px;
  padding-bottom: 104px;
}
.faq_wrapper {
  max-width: 770px;
  width: 100%;
  margin: 0 auto;
}
.faq_title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.faq_title h3 {
  color: rgb(229, 229, 232);
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
  line-height: 117%;
  letter-spacing: 0%;
  text-align: left;
  margin-bottom: 24px;
}

.faq_title span {
  max-width: 670px;
  color: rgb(198, 198, 215);
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 143%;
  letter-spacing: 0%;
  text-align: center;
}
.faq_items {
  margin-top: 56px;
  padding-bottom: 10px;
}

.faq_item {
  box-sizing: border-box;
  border: 1px solid rgb(25, 30, 56);
  border-radius: 28px;
  padding: 32px 30px;
  margin-bottom: 17px;
  box-shadow: inset 0px 0px 41.7px 0px rgba(25, 30, 56, 0.4);
}

.faq_item_title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}
.faq_item_title img {
  cursor: pointer;
}
.faq_item_title h4 {
  color: rgb(229, 229, 232);
  font-family: Inter;
  font-size: 18px;
  font-weight: 500;
  line-height: 117%;
  letter-spacing: 0%;
  text-align: left;
}
.faq_item_content {
  padding-top: 40px;
}
.faq_item_content ul {
  padding-left: 20px;
}
.faq_item_content li {
  color: rgb(198, 198, 215);
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 143%;
  letter-spacing: 0%;
  text-align: left;
}

.faq_actions {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.show_more {
  cursor: pointer;
}
.faq_actions p {
  font-family: Inter;
  font-size: 14px;
  font-weight: 300;
  line-height: 143%;
  letter-spacing: 0%;
  text-align: center;
  color: rgb(255, 255, 255);
}

.faq_actions a {
  color: rgb(107, 52, 250);
}
.faq_actions a:hover {
  text-decoration: underline;
}

.faq {
  position: relative;
}
.faq_wrapper {
  position: relative;
}
.faq_gr_1 {
  position: absolute;
  left: 0;
  top: -120px;
}
.faq_gr_2 {
  position: absolute;
  right: -50px;
  transform: translateY(25%);
}
.updates {
  position: relative;
  padding-bottom: 130px;
}
.updates_title h4 {
  color: rgb(229, 229, 232);
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
  line-height: 117%;
  letter-spacing: 0%;
  text-align: left;
  margin-bottom: 20px;
}
.updates_title p {
  color: rgb(198, 198, 215);
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 143%;
  letter-spacing: 0%;
  text-align: left;
  margin-bottom: 36px;
}

.updates_list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 48px;
}

.updates_list_item {
  width: 33%;
  box-sizing: border-box;
  border: 1px solid rgb(25, 30, 56);
  border-radius: 28px;
  padding: 8px 8px 26px;
  box-shadow: inset 0px 0px 41.7px 0px rgba(25, 30, 56, 0.4);
}

.updates_list_item_image {
  width: 100%;
  height: 236px;
  box-sizing: border-box;
  border: 1px solid rgb(25, 30, 56);
  border-radius: 22px;
  margin-bottom: 25px;
  background: rgb(25, 30, 56);
}

.updates_list_item_content {
  display: flex;
  align-items: start;
  flex-direction: column;
  padding-left: 29px;
}
.updates_list_item_content h5 {
  color: rgb(229, 229, 232);
  font-family: Inter;
  font-size: 18px;
  font-weight: 500;
  line-height: 117%;
  letter-spacing: 0%;
  text-align: left;
  margin-bottom: 17px;
}
.updates_list_item_content span {
  color: rgb(198, 198, 215);
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 143%;
  letter-spacing: 0%;
  text-align: left;
}

/* footer */
.footer_wrapper_top {
  display: flex;
  align-items: start;
  justify-content: space-between;
}

.footer_logo p,
.footer_socials p {
  margin-top: 12px;
  color: rgb(198, 198, 215);
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 143%;
  letter-spacing: 0%;
  text-align: left;
}

.footer_socials p {
  margin: 0;
  margin-bottom: 12px;
}
.footer_socials_list {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 15px;
}

.phone_contact {
  margin-top: 57px;
  margin-bottom: 60px;
}
.phone_contact_title {
  display: flex;
  align-items: center;
  gap: 5px;
}
.phone_contact_title p {
  color: rgb(255, 255, 255);
  font-family: Inter;
  font-size: 14px;
  font-weight: 700;
  line-height: 143%;
  letter-spacing: 0%;
  text-align: left;
}

.phone_contact a {
  margin-top: 4px;
  color: rgb(255, 255, 255);
  font-family: Inter;
  font-size: 24px;
  font-weight: 400;
  line-height: 143%;
  letter-spacing: 0%;
  text-align: center;
}
.phone_contact a:hover {
  text-decoration: underline;
}
.footer_bottom {
  box-sizing: border-box;
  border-left: 1px solid rgb(25, 30, 56);
  border-right: 1px solid rgb(25, 30, 56);
  border-top: 1px solid rgb(25, 30, 56);
  border-radius: 28px 28px 0px 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #060a23;
  padding: 26px 50px 22px;
}

.footer_bottom p {
  color: rgb(198, 198, 215);
  font-family: Inter;
  font-size: 14px;
  font-weight: 400;
  line-height: 143%;
  letter-spacing: 0%;
  text-align: left;
}

.footer_wrapper,
footer {
  position: relative;
  z-index: 1;
}
footer {
  overflow: hidden;
}

.footer_bg {
  position: absolute;
  width: 100%;
  bottom: 0;
  transform: translateY(65%);
}

.support_title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 68px;
}
.support {
  padding-top: 120px;
}
.support_title h4 {
  color: rgb(229, 229, 232);
  font-family: Inter;
  font-size: 60px;
  font-weight: 300;
  line-height: 117%;
  letter-spacing: 0%;
  text-align: center;
  margin-bottom: 36px;
}
.support_title span {
  color: rgb(198, 198, 215);
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 143%;
  letter-spacing: 0%;
  text-align: center;
  max-width: 794px;
}
.support_title .community_title_motto {
  margin: 0;
  margin-top: 40px;
}

.support_carousel_card {
  border-radius: 28px;
  padding: 40px;
  backdrop-filter: blur(10.9px);
  background: rgba(0, 0, 0, 0.1);
}

.support_carousel_card_text p {
  color: rgb(198, 198, 215);
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 143%;
  letter-spacing: 0%;
  text-align: left;
  margin-top: 20px;
  height: 126px;
  margin-bottom: 23px;
}

.support_carousel_card_author {
  display: flex;
  align-items: center;
  gap: 17px;
}
.support_carousel_card_author p {
  color: rgb(229, 229, 232);
  font-family: Inter;
  font-size: 18px;
  font-weight: 500;
  line-height: 117%;
  letter-spacing: 0%;
  text-align: left;
}

.carousel_descriptions {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 70px;
  margin-top: 60px;
}

.carousel_descriptions_text p {
  color: rgb(198, 198, 215);
  font-family: Inter;
  font-size: 16px;
  font-weight: 500;
  line-height: 143%;
  letter-spacing: 0%;
  text-align: center;
  max-width: 795px;
}
.supportCarouselSwiperPrev,
.supportCarouselSwiperNext {
  cursor: pointer;
}

.support {
  position: relative;
  padding-bottom: 47px;
}
.support_bg {
  position: absolute;
  bottom: 0;
}
.support_carousel_card {
  margin: 0 25px;
}
.support_cubes {
  position: absolute;
  top: 0;
  right: 0;
  transform: translateY(-42%);
}
.support_wrapper {
  position: relative;
}

.roadmap {
  position: relative;
  width: 100%;
  border-top: 1px solid rgb(25, 30, 56);
  padding-top: 107px;

  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}
.roadmap_tree {
  position: absolute;
  top: -220px;
}
.roadmap_wrapper {
  position: relative;
  max-width: 1250px;
  width: 100%;
  margin: 0 auto;
}
.roadmap_wrapper_title h4 {
  color: rgb(229, 229, 232);
  font-family: Inter;
  font-size: 60px;
  font-weight: 300;
  line-height: 117%;
  letter-spacing: 0%;
  text-align: center;
  margin-bottom: 32px;
}

.roadmap_wrapper_title p {
  color: rgb(198, 198, 215);
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 143%;
  letter-spacing: 0%;
  text-align: center;
  max-width: 700px;
  margin: 0 auto;
}

.roadmap_cubes {
  position: absolute;
  left: 0;
}
.roadmap_icon_1 {
  position: absolute;
  right: 100px;
  top: 60px;
}
.roadmap_icon_2 {
  position: absolute;
  left: 100px;
  top: 250px;
}
.roadmap_wrapper_cards {
  display: flex;
  align-items: center;
}
.roadmap_wrapper_card {
  position: relative;
  padding-top: 46px;
}
.roadmap_wrapper_cards {
  display: flex;
  align-items: start;
}
.roadmap_wrapper_cards_left,
.roadmap_wrapper_cards_right {
  width: 50%;
}
.roadmap_wrapper_card h4 {
  color: rgb(229, 229, 232);
  font-family: Inter;
  font-size: 24px;
  font-weight: 600;
  line-height: 117%;
  letter-spacing: 0%;
  margin-bottom: 25px;
}

.roadmap_wrapper_card li {
  font-family: Inter;
  font-size: 13px;
  font-weight: 400;
  line-height: 143%;
  letter-spacing: 0%;
  margin-bottom: 15px;
  color: rgb(198, 198, 215);
}

.roadmap_wrapper_card li span {
  color: rgb(229, 229, 232);
  font-weight: 600px;
}
.roadmap_wrapper_card_left {
  display: flex;
  align-items: end;
  justify-content: end;
  flex-direction: column;
  width: 65%;
}
.roadmap_wrapper_card_left li,
.roadmap_wrapper_card_left ul {
  text-align: right;
  max-width: 400px;
}
.roadmap_wrapper_card img {
  position: absolute;
  top: -50px;
}
.roadmap_wrapper_card_left img {
  right: 0;
  transform: translateX(93%);
}
.roadmap_wrapper_cards_left {
  padding-top: 300px;
}
.roadmap_wrapper_cards_right {
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: end;
  padding-top: 100px;
  gap: 100px;
}
.roadmap_wrapper_card_right {
  width: 60%;
}
.roadmap_wrapper_card_right img {
  left: 0;
  transform: translateX(-93%);
}
.roadmap_wrapper_card_right ul {
  padding-left: 20px;
}
.roadmaps_arrows {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 60px;
  gap: 32px;
  position: relative;
  margin-bottom: 33px;
}
.roadmaps_arrows img {
  cursor: pointer;
}
.roadmaps_arrows_pagination {
  display: flex;
  align-items: center;
  gap: 8px;
}
.roadmaps_arrows_pagination div {
  width: 37px;
  height: 4px;
  border-radius: 25px;

  background: rgb(25, 30, 56);
}
.roadmap_active {
  background: rgb(101, 48, 255) !important;
}
.roadmap_wrapper_cards {
  position: relative;
  z-index: 1;
}

.roadmaps_questions p {
  color: rgb(198, 198, 215);
  font-family: Inter;
  font-size: 14px;
  font-weight: 300;
  line-height: 143%;
  letter-spacing: 0%;
  margin-bottom: 4px;
  text-align: center;
}
.roadmaps_questions a {
  color: rgb(101, 48, 255);
}
.roadmaps_questions a:hover {
  text-decoration: underline;
}

.main_nav_list p {
  cursor: pointer;
}

.parallax_element img {
  display: inline-block;
  animation: smoothBounce 2s infinite;
}

@keyframes smoothBounce {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-30px);
  }
}
