@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}

body {
  font-family: "Inter", sans-serif;
  background: #060a23;
  overflow-x: hidden;
}

input,
button {
  outline: none;
  border: none;
  font-family: "Inter", sans-serif;
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
}

.container {
  width: 100%;
  max-width: 1390px;
  margin: 0 auto;
}

.main_btn {
  box-sizing: border-box;
  border: 2px solid rgba(109, 62, 244, 0.22);
  border-radius: 100px;
  padding: 16px 24px 16px 24px;
  box-shadow: inset 0px 0px 30.7px 0px rgb(138, 81, 230);
  background: rgb(101, 47, 255);
  color: rgb(255, 255, 255);
  font-family: Inter;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: center;
  transition: all 0.4s ease;
}

.main_btn:hover {
  transition: all 0.4s ease;
  background: rgb(59, 6, 205);
}

.text_block {
  box-sizing: border-box;
  border: 1px solid rgb(25, 30, 56);
  border-radius: 16px;
  box-shadow: inset 0px 0px 9.9px 0px rgb(25, 30, 56);
  background: rgb(6, 10, 35);
  color: rgb(82, 88, 120);
  padding: 1px 10px 3px;
  margin: 0 5px;
}

.faq_items {
  margin-top: 56px;
  padding-bottom: 10px;
}

.faq_item {
  box-sizing: border-box;
  border: 1px solid rgb(25, 30, 56);
  border-radius: 28px;
  padding: 32px 30px;
  margin-bottom: 17px;
  box-shadow: inset 0px 0px 41.7px 0px rgba(25, 30, 56, 0.4);
}

.faq_item_title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}
.faq_item_title img {
  cursor: pointer;
}
.faq_item_title h4 {
  color: rgb(229, 229, 232);
  font-family: Inter;
  font-size: 18px;
  font-weight: 500;
  line-height: 117%;
  letter-spacing: 0%;
  text-align: left;
}
.faq_item_content {
  padding-top: 40px;
}
.faq_item_content ul {
  padding-left: 20px;
}
.faq_item_content li {
  color: rgb(198, 198, 215);
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 143%;
  letter-spacing: 0%;
  text-align: left;
}

.faq_actions {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.show_more {
  cursor: pointer;
}
.btn_hover,
.selection_item_answer,
.faq_item_title img,
.notification_list_item_action img,
.dashboard_input_edit {
  transition: all 0.4s ease;
  cursor: pointer;
}

.btn_hover:hover,
.faq_item_title img:hover,
.notification_list_item_action img:hover,
.dashboard_input_edit:hover {
  transition: all 0.4s ease;
  opacity: 0.7;
}

.selection_item_answer:hover {
  box-sizing: border-box;
  border: 1px solid rgb(53, 176, 22);
  border-radius: 9px;
  transition: all 0.4s ease;

  background: rgba(53, 176, 22, 0.1);
}
